<div id="<%= dom_id vacation %>">
  <p>
    <strong>Start date:</strong>
    <%= vacation.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= vacation.finish_date %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= vacation.employee_id %>
  </p>

</div>
