<footer class="footer py-3 bg-light">
  <div class="container">
    <span class="text-muted d-flex aligns-items-center justify-content-center">WmDesafio © <%= Date.today.year %> all rights reserved</span>
  </div>
</footer>