  <header class="mb-5">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <%= link_to t("menu.Employee Manager"), root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <%= link_to t("vacations"), vacations_path, class: "nav-link" %>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-4" type="search" placeholder="Digite termo de busca" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><%= t 'menu.search' %></button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  
